**My Jupyter Notebook on IBM Watson Studio**

**INAM ULLAH**  
a Data Sceientist From Air UNiversity Islamabad

*i am interested in data science because i like Programing.
i am Trying as to learn new field which is data science*.
*as data science is new field so i am always looking for something new*

**I will implement python code and visualize it**

In [2]:
import pandas as pd

movies_data = {
    'Movie Title': ['The Shawshank Redemption', 'The Godfather', 'The Dark Knight'],
    'Year Released': [1994, 1972, 2008],
    'Director': ['Frank Darabont', 'Francis Ford Coppola', 'Christopher Nolan']
}

movies_df = pd.DataFrame(movies_data)

print("My Favorite Movies")
display(movies_df)

My Favorite Movies

                Movie Title  Year Released              Director
0  The Shawshank Redemption           1994        Frank Darabont
1             The Godfather           1972  Francis Ford Coppola
2           The Dark Knight           2008     Christopher Nolan

## My Favorite Movies

Here are some of my favorite movies:

- The Shawshank Redemption
- The Godfather
- The Dark Knight

| Movie Title         | Year Released | Director        |
|---------------------|---------------|----------------|
| The Shawshank Redemption | 1994      | Frank Darabont |
| The Godfather       | 1972          | Francis Ford Coppola |
| The Dark Knight     | 2008          | Christopher Nolan |

If you want to learn more about these movies, you can [visit IMDb](https://www.imdb.com/).